---
layout: base
---

<div class="flex justify-center md:pt-8 w-full md:w-4/5 mx-auto fadeIn">
  <div class="flex flex-col md:flex-row items-center">
    <div>
      <h1 class="text-2xl md:text-4xl xl:text-5xl text-center py-6 md:p-6">{{page.title}}</h1>
      <div class="flex justify-center items-center gap-2 pt-4">
        <!-- <span class="text-slate-700 dark:text-slate-100/80">{{page.author | default: site.author }}</span> -->
        <p class="text-slate-700 dark:text-slate-100/80">{{ page.date | date: "%B %-d, %Y" }}</p>
      </div>
      <div class="flex flex-wrap justify-center gap-4">
        {% for tag in page.tags %}
        <a class="text-sm text-slate-700 underline md:no-underline hover:underline dark:text-slate-100/80" href="{{ '/tags#' | append: tag | relative_url }}">#{{tag}}</a>
        {% endfor %}
      </div>
      <div class="mx-auto p-4">
      </div>
    </div>
    <!-- <img src="{{ page.image | relative_url }}" alt="" class="basis-2/6  w-11/12 md:w-5/12 p-2 md:px-0"> -->
  </div>
</div>

<div class="mx-auto py-4 md:py-12 fadeIn">
  <div class="flex justify-center pb-4 md:pb-8">
    <article class="prose md:prose-lg prose-p:font-extralight prose-headings:font-light prose-slate dark:prose-invert prose-img:mx-auto prose-img:w-2/3">
      <!-- {{ content }} Below includes both content and anchor headings-->
      <img src="{{ page.image | relative_url }}" alt="">
      {% include anchor_headings.html html=content anchorBody="#" %}
    </article>
  </div>

  <hr class="mx-auto" style="width:75%">

  <!-- <div class="mx-auto my-10">
    <div class="py-1 flex flex-col md:flex-row-reverse justify-center text-center">Share this post</div>
  </div> -->

  <div class="mx-auto my-10">
    {% include sharing.html %}
  </div>

  <div class="post-navigation py-10 flex flex-col md:flex-row-reverse justify-center ">
    {% if page.next %}
    <a class="next-post mx-auto transition hover:scale-110 duration-300" href="{{ page.next.url | relative_url }}">
      <div class="flex flex-row items-center py-4 md:py-8">
        <div class="px-2">
          <span class="text-md text-black dark:text-white max-w-sm">{{page.next.title}}</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/>
        </svg>
      </div>
    </a>
    {% endif %}

    {% if page.previous %}
    <a class="previous-post mx-auto transition hover:scale-110 duration-300" href="{{ page.previous.url | relative_url }}">
      <div class="flex flex-row items-center py-4 md:py-8">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z">
        </svg>
        <div class="px-2">
          <span class="text-md text-black dark:text-white max-w-sm">{{page.previous.title}}</span>
        </div>
      </div>
    </a>
    {% endif %}
  </div>

  {%- if site.disqus.shortname -%}
    <div class="mx-auto max-w-prose py-8">
      {%- include disqus_comments.html -%}
    </div>
  {%- endif -%}
</div>
